* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

@import url('https://fonts.googleapis.com/css2?family=Jost:wght@600&display=swap');

:root {
    --padding: 20px;
    --border-radius: 5px;
    --height-time: 3em;
}
body {
    background: rgb(248,254,254);
    background: rgb(61, 133, 216);
    font-family: 'Jost', sans-serif;
    color: white;
    text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);
}

header {
    max-width: 100%;
    padding: var(--padding);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* border: 1px solid rgb(15, 15, 15); */
    align-items: center;
}   
    form {
        display: flex;
        justify-content: space-around;
        padding: var(--padding);
        
    }
    input, button {
        padding: 5px;
       
    }
        input {
            border-radius: 5px 0 0 5px;
        }
        button {
            border-radius: 0 5px 5px 0;
        }

section {
    max-width: 100%;
    padding: var(--padding);
    /* border: 1px solid black; */
    }

    .hero {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
        .hero img {
            width: 33.3%;
        }

        .hero time {
            font-size: 1.5em;
            width: 33.3%;
            order: -1;
            
        }
        .hero ul {
            width: 33.3%;
            list-style: none;
        }
            li {
                text-align: right;
                font-size: 1.1em;
            }

    .days {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        padding: 0;
        background-color:    rgb(173, 194, 218);
    }
        .other-day {
            text-align: center;
        }
        .other-day img,time {
            width: 5em;
            padding: 10px 0 10px 0;
            display: block;
            margin: auto;
        }
    

footer {
    max-width: 100%;
    text-align: center;
    padding: 10px 0 10px 0;    
}

/* responsive media--------- */

@media (min-width: 600px) {
    footer {
        display: none;
    }
}

/* responsive large--------- */

@media (min-width: 1200px) {
    body {
        display: flex;
    }

        header {
            width: 30%;
        }
        main {
            width: 70%;
            display: flex;
            flex-wrap: wrap;
        }
            section {
                width: 50%;
            }
                .days {
                    grid-template-columns: repeat(2, 1fr);
                    grid-template-rows: repeat(3, 1fr);
                    gap: var(--padding);
                    }
        footer {
            display: none;
        }
}
